/* .reset-button {
    background-color: #A9A9A9; 
    color: #fff; 
    border: none;
    padding: 10px 15px; 
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px; 
    transition: background-color 0.3s ease;
  }

  .reset-button:hover {
    background-color: #808080;
  }

  i.button-style {
    margin-right: 5px; 
  }

  .muislider-thumb.mui-focusvisible, .muislider-thumb:hover {
    box-shadow:none !important;
} */
